### List assign

In [1]:
"""
Template - Update an item in a list
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
example_list[2] = 0

print(example_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 3, 0, 7, 11, 13]

[2, 3, 5, 7, 11, 13]
[2, 3, 0, 7, 11, 13]

### Slice update

In [2]:
"""
Template - Update a slice of a list
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
example_list[1:4] = [0,0,0]

print(example_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 0, 0, 0, 7, 11, 13]

[2, 3, 5, 7, 11, 13]
[2, 0, 0, 0, 11, 13]

### Append

In [3]:
"""
Template - Append an item to a list
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
example_list.append(0)
print(example_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 3, 5, 7, 11, 13, 0]

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13, 0]

### Extend

In [5]:
"""
Template - Extend a list with another list
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
example_list.extend([0,0,0])

print(example_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 3, 5, 7, 11, 13, 0, 0, 0]

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13, 0, 0, 0]

### Concatenate

In [9]:
"""
Template - Concatenate one list onto another
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
new_list = example_list + [0,0,0]

print(example_list)
print(new_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 3, 5, 7, 11, 13]
#[2, 3, 5, 7, 11, 13, 0, 0, 0]

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13, 0, 0, 0]

### Loop append

In [10]:
"""
Template - Append several item to a list
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
for x in [0,0,0]:
    example_list.append(x)
    
print(example_list)


# Output
#[2, 3, 5, 7, 11, 13]
#[2, 3, 5, 7, 11, 13, 0, 0, 0]

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13, 0, 0, 0]

### Tuple

In [13]:
"""
Template - Convert a list to a tuple
"""

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
example_tuple = tuple(example_list)
    
print(example_tuple)


# Output
#[2, 3, 5, 7, 11, 13]
#(2, 3, 5, 7, 11, 13)

[2, 3, 5, 7, 11, 13]
(2, 3, 5, 7, 11, 13)

### Shuffle

In [14]:
"""
Template - Shuffle the items in a list
"""
import random

example_list = [2, 3, 5, 7, 11, 13]
print(example_list)

# Enter update code here
random.shuffle(example_list)
   
print(example_list)


# Output - note that order of second list may vary due to randomness
#[2, 3, 5, 7, 11, 13]
#[11, 2, 7, 5, 13, 3]

[2, 3, 5, 7, 11, 13]
[3, 13, 2, 7, 11, 5]

### Flatten

In [17]:
"""
Template - Flatten a nested list
"""

def flatten(nested_list):
    """
    Given a list whose items are list, 
    return the list formed by joining all of these lists
    """
    new_list = []
    for x in nested_list:
        new_list.extend(x)
    return new_list

# Test code
print(flatten([]))
print(flatten([[]]))
print(flatten([[1, 2, 3]]))
print(flatten([["cat", "dog"], ["pig", "cow"]]))
print(flatten([[9, 8, 7], [6, 5], [4, 3, 2], [1]]))


# Output
#[]
#[]
#[1, 2, 3]
#['cat', 'dog', 'pig', 'cow']
#[9, 8, 7, 6, 5, 4, 3, 2, 1]

[]
[]
[1, 2, 3]
['cat', 'dog', 'pig', 'cow']
[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Remove duplicates

In [24]:
"""
Template - Remove duplicates from a list while preserving the order of items
"""

myList = [1, 2, 3, 1, 2, 5, 6, 7, 8]
cleanlist = []
[cleanlist.append(x) for x in myList if x not in cleanlist]


def remove_duplicates(items):
    """
    Given a list, return a list with duplicate items removed
    and the remaining items in the same order
    """
    clean = []
    for x in items:
        if x in clean:
            pass
        else:
            clean.append(x)
    
    return clean



# Test code
print(remove_duplicates([]))
print(remove_duplicates([1, 2, 3, 4]))
print(remove_duplicates([1, 2, 2, 3, 3, 3, 4, 5, 6, 6]))
print(remove_duplicates(["cat", "dog", "cat", "pig", "cow", "cat", "pig", "pug"]))


# Output
#[]
#[1, 2, 3, 4]
#[1, 2, 3, 4, 5, 6]
#['cat', 'dog', 'pig', 'cow', 'pug']

[]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
['cat', 'dog', 'pig', 'cow', 'pug']

## Challenge

### Fibonacci 
Given a list fib = [0, 1], write a loop that appends the sum of the last two items in fib to the end of fib.  What is the value of the last item in fib after twenty iterations of this loop?  Enter the answer below as an integer.

As a check, the value of the last item in fib after ten iterations is 89.

In [33]:
def fib(n):
    '''
    Crea una secuencia Fibonacci hasta n (que es el número de iteraciones)
    
    Parameters:
    n (int): números de veces que itera la función
    
    Returns:
    suma (int): es al suma de los dos últimos números una vez terminadas las iteraciones
    '''
    fib = [0,1]
    for x in range(1,n):
        siguiente = fib[-2] + fib[-1]
        fib.append(siguiente)
    
    return fib[-2] + fib[-1]

print(fib(10))

89

###  Sieve of Eratosthenes
One of the first examples of an algorithm was the Sieve of Eratosthenes.  This algorithm computes all prime numbers up to a specified bound.  The provided code below implements all but the innermost loop for this algorithm in Python. Review the linked Wikipedia page and complete this code.

In [58]:
"""
Implement the Sieve of Eratosthenes
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes
"""

def compute_primes(bound):
    """
    Return a list of the prime numbers in range(2, bound)
    """
    answer = list(range(2, bound))
    for divisor in range(2, bound):
        # Remove appropriate multiples of divisor from answer
        for x in range(divisor, bound, divisor):
            if divisor == x or x not in answer:
                pass
            else:
                answer.remove(x)
    return answer

print(len(compute_primes(200)))
print(len(compute_primes(2000)))

46
303